{% extends 'layout.html'%}

{% block content%}
<div class="card text-bg-primary mb-3" style="max-width: 18rem;">
	{% if title %}
	<div class="card-header">{{title}}</div>
	{% else %}
	<div class="card-header">Hello world!</div>
	{%endif %}
	<div class="card-body">
		{% if text %}
		<p class="card-text">{{text}}</p>
		{%else %}
		<p class="card-text">Some text</p>
		{%endif %}
	</div>
</div>

<div class="card">
	<div class="card-header">
		{{time}}
	</div>
	<div class="card-body">
		<blockquote class="blockquote mb-0">
			<p>{{os}}</p>
			<footer class="blockquote-footer">{{user}}</footer>
		</blockquote>
	</div>
</div>
{%endblock%}